body{
    text-align: center;
    letter-spacing:0.5em;
    font-family: sans-serif;
    top:15%;
    background:linear-gradient(to right,red,cyan);
    text-transform: uppercase;
}
h1{
    font :  600 3.5em sans-serif;
    color:rgba(0,0,0,0.7);
    text-align: center;
    letter-spacing: .5em;
    width:100%;
}
h2{
    letter-spacing: .5em;
    font: 350 1.em sans-serif;
    text-align: center;
    width:100%;
    color:rgba(0,0,0,0.5);
}
h3{
    font: 900 1em sans-serif;
    color:rgba(0,0,0,0.5);
    text-align:center;
    text-transform: none;
    letter-spacing: 0.01em;
}